---

---

<footer>
    <p>© 2025 by <span property="cc:attributionName">706 North America</span> under
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-flex;align-items:center;">CC BY-NC-SA 4.0
            <img style="height:22px;margin-left:3px;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="">
            <img style="height:22px;margin-left:3px;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt="">
            <img style="height:22px;margin-left:3px;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1" alt="">
            <img style="height:22px;margin-left:3px;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" alt="">
        </a></p>
</footer>

<style>
	footer {
		margin-top: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	footer img {
		display: inline;
		vertical-align: middle;
	}
</style>
