---
import '/src/styles/global.css'
import Header from '/src/components/Header.astro'
import Footer from '/src/components/Footer.astro'
---

<!doctype html>
<html data-theme="retro">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<script async src="https://a.706tribe.com/tracker.js" data-ackee-server="https://a.706tribe.com" data-ackee-domain-id="e64608df-97fe-4c32-a7d4-e8f49068057b" data-ackee-opts='{ "ignoreLocalhost": true, "detailed": true }'></script>
		<meta name="generator" content={Astro.generator} />
		<title>706 Tribe</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
